annotated-types
anyio
certifi
click
exceptiongroup
gitdb
gitpython
h11
httpcore
httpx
idna
markdown-it-py
mdurl
pydantic
pydantic-core
pydantic-settings
pygments
python-dotenv
pyyaml
rich
shellingham
smmap
sniffio
tomli
typer
typing-extensions
#
altair
attrs
beautifulsoup4
blinker
bs4
cachetools
cffi
charset-normalizer
curl-cffi
distro
duckduckgo-search
exceptiongroup
jinja2
jsonschema
jsonschema-specifications
markupsafe
mdurl
nest-asyncio
numpy
ollama
openai
orjson
packaging
pandas
pgvector
phidata
pillow
protobuf
psycopg[binary]
psycopg-binary
pyarrow
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
referencing
requests
rich
rpds-py
shellingham
six
smmap
sniffio
soupsieve
sqlalchemy
streamlit==1.35.0
tenacity
toml
tomli
toolz
tornado
tqdm
typer
typing-extensions
tzdata
urllib3
psycopg2-binary