altair
attrs
beautifulsoup4
blinker
bs4
cachetools
cffi
charset-normalizer
curl-cffi
distro
duckduckgo-search
exceptiongroup
jinja2
jsonschema
jsonschema-specifications
markupsafe
mdurl
nest-asyncio
numpy
ollama
openai
orjson
packaging
pandas
pgvector
phidata
pillow
protobuf
psycopg[binary]
psycopg-binary
pyarrow
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
referencing
requests
rich
rpds-py
shellingham
six
smmap
sniffio
soupsieve
sqlalchemy
streamlit
tenacity
toml
tomli
toolz
tornado
tqdm
typer
typing-extensions
tzdata
urllib3
libpq-dev
psycopg2-binary
psycopg2